

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voy Saliendo </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByZHxYbNttxQSIXAurj86k05qWJxyH2ZY&libraries=places"
            async defer></script>
    <script src="~/Scripts/fontawesome-markers.min.js"></script>

    <script src="~/Scripts/geolocalizacion/Mapa_de_usuario.js"></script>
    <script src="~/Scripts/geolocalizacion/geoLocalizacion.js"></script>
    <script src="~/Scripts/user/user.js"></script>
    <script src="~/Scripts/user/navbar.js"></script>
    <script src="~/Scripts/user/Rutas.js"></script>
    <script src="~/Scripts/user/Paradas.js"></script>
</head>
<body>

    @{
        if (Session["userName"] == null)
        {
            <input type="text" id="textUser" style="display:none" />

        }
        else
        {
            string userName = Session["userName"].ToString();

            <input type="text" id="textUser" style="display:none" value="@userName" />
        }
    }

    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-lg btn-dark" href="#">
            <i class="fas fa-chevron-right" id="arrow"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    @Html.ActionLink("Voy Saliendo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    <div id="close-sidebar">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                             alt="User picture">
                    </div>
                    <div class="user-info">
                        <h3 id="user" class="user-name"></h3>
                        <span class="user-role">Administrator</span>

                    </div>
                </div>
                <!-- sidebar-header  -->
                <div class="sidebar-search">
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-map-marker-alt"></i></span>
                            <input type="text" id="inputDireccion" class="form-control" />
                        </div>

                    </div>
                </div>

                <div class="sidebar-search">
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                            <input type="text" name="destino" id="destino" class="form-control" placeholder="A dónde vas..." />
                        </div>

                    </div>
                </div>
                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>Actions</span>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fas fa-tools"></i>
                                <span>Mantenimiento</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="#" onclick="showRutasModal()">
                                            Rutas
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Autobuses
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Paradas
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>


                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">

                <a href="#" style="margin:10px">
                    <i class="fa fa-power-off btn-danger btn-lg" onclick="logout()" id="logoutClass"></i>
                </a>
            </div>
        </nav>
        <!-- sidebar-wrapper  -->
        <!-- page-content" -->


        <div class="container body-content">

            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
